@import 'variables';
@import 'global';




.header {
    .navbar {
        height: 5rem;

        .navbar-nav {
            .mega-dropdown {
                .mega-menu {
                    overflow: hidden;
                    height: 50vh;
                    padding: 0;
                    width: 100%;

                    .sub-menu {
                        h6 {}

                        .megamenu-list {
                            li {

                                a:hover {}
                            }

                        }

                    }
                }

                .sub-image {
                    width: 100%;


                    img {
                        width: 100%;
                        height: auto;

                    }
                }
            }
        }
    }
}


.rooms {
    position: relative;

    .carousel {
        height: 60vh !important;
        overflow: hidden;

        .carousel-inner {
            overflow: visible;

            .carousel-item>img {
                left: 50%;
                max-width: none !important;
                min-height: 50vh;
                min-width: 100%;
                position: absolute;
                top: 40vh;
                transform: translate(-50%, -50%);
            }
        }

    }

    .rooms-search {
        z-index: 1;
        position: absolute;
        top: 30%;
        left: 23%;
        width: 60vw;
        -webkit-border-radius: ;
        -moz-border-radius: ;
        -ms-border-radius: ;
        -o-border-radius: ;
    }
}

.